@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Quantico', sans-serif;
}